# Notes

### Strings

Wie man automatisch eine Liste von Strings kreiert:

In [ ]:
import string
a = string.ascii_lowercase # Kann auch uppercase sein
a = list(a)[:10]

In [ ]:
a

Wie man eine Liste zu einem einzigen String umwandelt:

In [ ]:
", ".join(a)

Wie man einen String in einzelne String aufsplittet:

In [ ]:
b = ", ".join(a)
print(b.split())

Wie man aus einer Liste von Ints Strings macht:

In [ ]:
a = list(range(1,11))
a_new = []

for int in a:
    a_new.append(str(int))
    
a_new

Strings verknüpfen:

In [ ]:
b = "Ich bin Text"
c = "und je länger ich bin desto toll"
print(b, c)

### Hacks

<p>a: neue Zelle davor<br>
b: Neue Zelle danach<br>
y: Zeile zu Code<br>
m: Zeile zu Markdown</p>

### Naming Convention

Variablen kleinschreiben <br>
Wörter verbinden mit Unterstrich <br>
Englische Namen verwenden <br>
Umlaute auschreiben

### If Statements

Eine If-Abfrage wird nur ausgeführt wenn die Bedingung True ist. In kürzestform:

In [ ]:

bool_1 = False
bool_2 = True

if bool_1:
    print("bool_1 is true.")
else:
    print("bool_1 is false.")
    
if bool_2:
    print("bool_2 is true.")
else:
    print("bool_2 is false.")

### Listen

Liste nach einander ausdrucken:

In [ ]:
liste = ["Max", "Moritz", "Monika"]
for i in liste:
    print(i)

### Files lesen

Dateien öffnen und lesen:

In [2]:
file = open("lesen.txt", "r")

for line in file:
    print(line.strip())

file.close()

FileNotFoundError: [Errno 2] No such file or directory: 'lesen.txt'

### Funktionen

In [1]:
cart_prices = [20, 3.5, 6.49, 8.99, 9.99, 14.98]

def list_sum(liste):
# hier kommt dein Code hin    
    summe = 0    

    print("")
    print("Ihr Einkauf")
    print("----------------")    
    for betrag in liste:        
        print("+ " + str(betrag))
        summe = round(summe + betrag)   
        
        print("----------------")
        print("Total: " + str(summe))

list_sum(cart_prices)

Ihr Einkauf
----------------
+ 20
----------------
Total: 20
+ 3.5
----------------
Total: 24
+ 6.49
----------------
Total: 30
+ 8.99
----------------
Total: 39
+ 9.99
----------------
Total: 49
+ 14.98
----------------
Total: 64

Dict-liste:

In [6]:
dict_städte = [{"key1":"value1", "key2":"value2", "key3":"value3"},
               {"key1":"value4", "key2":"value5", "key3":"value6"}]
print(dict_städte)

[{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}, {'key1': 'value4', 'key2': 'value5', 'key3': 'value6'}]

In [8]:
import pandas as pd

pd.DataFrame(dict_städte)

     key1    key2    key3
0  value1  value2  value3
1  value4  value5  value6