# Regex in Pandas

**Inhalt:** Regular Expressions in Pandas anwenden

**Nötige Skills:** Regex in Python

**Lernziele:**
- Ein praktisches Beispiel kennenlernen, wo Regex nützlich sein kann

# Das Beispiel

Das Bundesamt für Statistik stellt oft Dateien in verknorkster Form zur Verfügung, zum Beispiel, wenn man Auswertungen nach Gemeinden, Bezirken und Kantonen über das interaktive Portal generieren lässt: https://www.pxweb.bfs.admin.ch/pxweb/de/

Das vorliegende Beispiel beinhaltet die Bevölkerungszahlen, gegliedert nach Zivilstand einerseits (ledig, verheiratet, etc) und nach räumlicher Struktur (Gemeinden, Bezirke, Kantone) andererseits.

Das File ist gespeichert unter `dataprojects/BFS/px-x-0102010000_103.xlsx`

Unser 1. Ziel ist: Wir wollen die Tabelle filtern
- nur die Gemeinden
- nur die Bezirke
- nur die Kantone

Unser 2. Ziel ist: Wir wollen bei den Gemeinden die jeweilige Nummer isolieren

## Vorbereitung

In [10]:
import pandas as pd

In [11]:
import re

In [12]:
%matplotlib inline

## Datei laden

In [13]:
path = 'dataprojects/BFS/px-x-0102010000_103.xlsx'

In [14]:
df = pd.read_excel(path)

## Explorieren

In [15]:
df.head(20)

                          Einheit   Zivilstand   Anzahl
0                         Schweiz        Ledig  3650651
1                         Schweiz  Verheiratet  3583008
2                         Schweiz    Verwitwet   407408
3                         Schweiz   Geschieden   685622
4                        - Zürich        Ledig   666873
5                        - Zürich  Verheiratet   610396
6                        - Zürich    Verwitwet    63173
7                        - Zürich   Geschieden   125889
8             >> Bezirk Affoltern        Ledig    21785
9             >> Bezirk Affoltern  Verheiratet    23865
10            >> Bezirk Affoltern    Verwitwet     1875
11            >> Bezirk Affoltern   Geschieden     4076
12     ......0001 Aeugst am Albis        Ledig      852
13     ......0001 Aeugst am Albis  Verheiratet      908
14     ......0001 Aeugst am Albis    Verwitwet       74
15     ......0001 Aeugst am Albis   Geschieden      147
16  ......0002 Affoltern am Albis        Ledig     5000
17  ......0002 Affoltern am Albis  Verheiratet     5159
18  ......0002 Affoltern am Albis    Verwitwet      545
19  ......0002 Affoltern am Albis   Geschieden     1004

Welche Einheitstypen gibt es? Und welches Muster haben sie?
- Gemeinde ("...... 9999 Gemeindename")
- Bezirk (">> Bezirsname")
- Kantone ("- Kantonsname")
- Land ("Land")

## Pandas-Funktionen, die Regex brauchen können

Einige Befehle heissen leicht anders, funktionieren aber sehr ähnlich wie in der re.Library

- **`str.contains(r"regex")`**: das Pendant zu `re.search()` - ja/nein-Antwort

- **`str.extract(r"regex")`**: auch ähnlich wie `re.search()` - Suchergebnis als Antwort

- **`str.replace(r"regex", "str")`**: das Pendant zu `re.sub()` - ersetzt Match mit String

Wir wenden diese Funktionen jetzt an.

### Aber zuerst ...

**Quiz:** Zuerst brauchen wir die Regex-Ausdrücke, um die Einheiten zu erkennen.

Am besten mit Tests beginnen, ob die Regex an einer Einheit anschlägt - und jeweils auch testen, ob die Regex bei Einheiten, die wir *nicht* wollen, auch *nicht* anschlägt.

**Test für Kantone**

In [16]:
# Unsere Regex
regex_k = r"^- "

In [17]:
# Schlägt die regex bei den Kantonen an?
# (Gut ist, wenn wir ein "Match"-Objekt erhalten)
re.search(regex_k, "- Aargau")

In [18]:
# Schlägt die regex bei den Bezirken NICHT an?
# (Gut ist hier, wenn wir nichts zurückerhalten)
re.search(regex_k, ">> Wahlkreis Luzern-Stadt")

In [19]:
# Schlägt die regex bei den Gemeinden NICHT an?
re.search(regex_k, "......0001 Aeugst am Albis")

**Test für Bezirke**

In [20]:
# Unsere Regex
regex_b = r"^>> "

In [21]:
# Schlägt die regex bei den Bezirken an?
re.search(regex_b, ">> Wahlkreis Luzern-Stadt")

In [22]:
# Schlägt die regex bei den Kantonen NICHT an?
re.search(regex_b, "- Aargau")

In [23]:
# Schlägt die regex bei den Gemeinden NICHT an?
re.search(regex_b, "......0001 Aeugst am Albis")

**Test für Gemeinden**

In [24]:
# Unsere Regex
regex_g = r"^\.{6}"

In [25]:
# Test für Gemeinde
re.search(regex_g, "......0001 Aeugst am Albis")

In [26]:
# Schlägt die regex bei den Kantonen NICHT an?
re.search(regex_g, "- Aargau")

In [27]:
# Schlägt die regex bei den Bezirken NICHT an?
re.search(regex_g, ">> Wahlkreis Luzern-Stadt")

zum Zusammenfassen:

In [28]:
regex_k = r"^- "
regex_b = r"^>> "
regex_g = r"^\.{6}"

## 1. Daten filtern

Nachdem wir nun die passenden Regex-Ausdrücke gefunden haben, können wir unsere Daten filtern.

Ziel: Wir erstellen ein separates DF für Gemeinden, Bezirke, Kantone.

Hier können wir die Funktion `str.contains()` gut brauchen.

Wir testen damit mal, ob die Einträge in der Spalte "Einheit" eine Gemeinde sind:

In [29]:
df['Einheit'].str.contains(regex_g).head(15)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13     True
14     True
Name: Einheit, dtype: bool

Basierend auf dieser True/False-Liste können wir nun die Tabelle filtern.

In [30]:
df[df['Einheit'].str.contains(regex_g)].head()

                          Einheit   Zivilstand  Anzahl
12     ......0001 Aeugst am Albis        Ledig     852
13     ......0001 Aeugst am Albis  Verheiratet     908
14     ......0001 Aeugst am Albis    Verwitwet      74
15     ......0001 Aeugst am Albis   Geschieden     147
16  ......0002 Affoltern am Albis        Ledig    5000

Wir speichern den Output in einer separaten DF (als Kopie, damit wir nachher keinen Ärger kriegen).

In [31]:
df_g = df[df['Einheit'].str.contains(regex_g)].copy()

**Quiz:** Erstellen Sie zwei weitere Dataframes, in denen nur die Kantone und Bezirke sind.

In [32]:
df_k = df[df['Einheit'].str.contains(regex_k)].copy()

In [33]:
df_b = df[df['Einheit'].str.contains(regex_b)].copy()

In [34]:
df_k

                Einheit   Zivilstand  Anzahl
4              - Zürich        Ledig  666873
5              - Zürich  Verheiratet  610396
6              - Zürich    Verwitwet   63173
7              - Zürich   Geschieden  125889
732      - Bern / Berne        Ledig  437186
733      - Bern / Berne  Verheiratet  439372
734      - Bern / Berne    Verwitwet   56513
735      - Bern / Berne   Geschieden   84364
2200           - Luzern        Ledig  181455
2201           - Luzern  Verheiratet  172144
2202           - Luzern    Verwitwet   18613
2203           - Luzern   Geschieden   26541
2560              - Uri        Ledig   15323
2561              - Uri  Verheiratet   16871
2562              - Uri    Verwitwet    2027
2563              - Uri   Geschieden    1751
2648           - Schwyz        Ledig   66828
2649           - Schwyz  Verheiratet   68701
2650           - Schwyz    Verwitwet    6920
2651           - Schwyz   Geschieden   11639
2796         - Obwalden        Ledig   16432
2797         - Obwalden  Verheiratet   16562
2798         - Obwalden    Verwitwet    1771
2799         - Obwalden   Geschieden    2311
2832        - Nidwalden        Ledig   18392
2833        - Nidwalden  Verheiratet   18905
2834        - Nidwalden    Verwitwet    1946
2835        - Nidwalden   Geschieden    3176
2884           - Glarus        Ledig   16607
2885           - Glarus  Verheiratet   18015
...                 ...          ...     ...
5662           - Aargau    Verwitwet   29873
5663           - Aargau   Geschieden   50715
6560          - Thurgau        Ledig  113225
6561          - Thurgau  Verheiratet  119530
6562          - Thurgau    Verwitwet   12428
6563          - Thurgau   Geschieden   22240
6904           - Ticino        Ledig  146039
6905           - Ticino  Verheiratet  155489
6906           - Ticino    Verwitwet   21428
6907           - Ticino   Geschieden   28986
7480             - Vaud        Ledig  353300
7481             - Vaud  Verheiratet  319635
7482             - Vaud    Verwitwet   34632
7483             - Vaud   Geschieden   65726
8796  - Valais / Wallis        Ledig  142216
8797  - Valais / Wallis  Verheiratet  149122
8798  - Valais / Wallis    Verwitwet   18131
8799  - Valais / Wallis   Geschieden   26205
9388        - Neuchâtel        Ledig   77637
9389        - Neuchâtel  Verheiratet   72766
9390        - Neuchâtel    Verwitwet    9890
9391        - Neuchâtel   Geschieden   17812
9564           - Genève        Ledig  224586
9565           - Genève  Verheiratet  193557
9566           - Genève    Verwitwet   20496
9567           - Genève   Geschieden   46072
9752             - Jura        Ledig   31049
9753             - Jura  Verheiratet   31408
9754             - Jura    Verwitwet    4538
9755             - Jura   Geschieden    5786

[104 rows x 3 columns]

## 2. Daten extrahieren

Wir wenden uns den Gemeinden zu. Unser Ziel: Die Gemeindenummer in eine separate Spalte ziehen.

In [36]:
df_g.head(2)

                       Einheit   Zivilstand  Anzahl
12  ......0001 Aeugst am Albis        Ledig     852
13  ......0001 Aeugst am Albis  Verheiratet     908

Hier kommt die Funktion `str.extract()` gelegen. Um sie zu benutzen, müssen wir zwei Dinge wissen:
1. die Regex, die zu dem gesamten Ausdruck passt.
2. Den Teil der Regex, den wir in Klammern `()` setzen und extrahieren wollen.

In [50]:
    
df_g['Einheit'].str.extract(r"(\d{4})").head()

       0
12  0001
13  0001
14  0001
15  0001
16  0002

Wir können den Output dieser Funktion für die neue Spalte setzen.

In [51]:
df_g['Code'] = df_g['Einheit'].str.extract(r"(\d{4})")

In [52]:
df_g.head(10)

                          Einheit   Zivilstand  Anzahl  Code
12     ......0001 Aeugst am Albis        Ledig     852  0001
13     ......0001 Aeugst am Albis  Verheiratet     908  0001
14     ......0001 Aeugst am Albis    Verwitwet      74  0001
15     ......0001 Aeugst am Albis   Geschieden     147  0001
16  ......0002 Affoltern am Albis        Ledig    5000  0002
17  ......0002 Affoltern am Albis  Verheiratet    5159  0002
18  ......0002 Affoltern am Albis    Verwitwet     545  0002
19  ......0002 Affoltern am Albis   Geschieden    1004  0002
20          ......0003 Bonstetten        Ledig    2336  0003
21          ......0003 Bonstetten  Verheiratet    2452  0003

**Quiz:** Erstellen Sie im Gemeinde-DF eine weitere Spalte ("Name"), die den Namen der Gemeinde enthält!

In [54]:
df_g['Name'] = df_g['Einheit'].str.extract(r"\.{6}\d{4} (.+)$")

In [55]:
df_g.head()

,Einheit,Zivilstand,Anzahl,Code,Name
12,......0001 Aeugst am Albis,Ledig,852,0001,Aeugst am Albis
13,......0001 Aeugst am Albis,Verheiratet,908,0001,Aeugst am Albis
14,......0001 Aeugst am Albis,Verwitwet,74,0001,Aeugst am Albis
15,......0001 Aeugst am Albis,Geschieden,147,0001,Aeugst am Albis
16,......0002 Affoltern am Albis,Ledig,5000,0002,Affoltern am Albis

In [56]:
df_g.pop('Einheit')

12         ......0001 Aeugst am Albis
13         ......0001 Aeugst am Albis
14         ......0001 Aeugst am Albis
15         ......0001 Aeugst am Albis
16      ......0002 Affoltern am Albis
17      ......0002 Affoltern am Albis
18      ......0002 Affoltern am Albis
19      ......0002 Affoltern am Albis
20              ......0003 Bonstetten
21              ......0003 Bonstetten
22              ......0003 Bonstetten
23              ......0003 Bonstetten
24         ......0004 Hausen am Albis
25         ......0004 Hausen am Albis
26         ......0004 Hausen am Albis
27         ......0004 Hausen am Albis
28                ......0005 Hedingen
29                ......0005 Hedingen
30                ......0005 Hedingen
31                ......0005 Hedingen
32         ......0006 Kappel am Albis
33         ......0006 Kappel am Albis
34         ......0006 Kappel am Albis
35         ......0006 Kappel am Albis
36                  ......0007 Knonau
37                  ......0007 Knonau
38                  ......0007 Knonau
39                  ......0007 Knonau
40             ......0008 Maschwanden
41             ......0008 Maschwanden
                    ...
9966                ......6793 Lugnez
9967                ......6793 Lugnez
9968            ......6800 Porrentruy
9969            ......6800 Porrentruy
9970            ......6800 Porrentruy
9971            ......6800 Porrentruy
9972               ......6803 Rocourt
9973               ......6803 Rocourt
9974               ......6803 Rocourt
9975               ......6803 Rocourt
9976          ......6806 Vendlincourt
9977          ......6806 Vendlincourt
9978          ......6806 Vendlincourt
9979          ......6806 Vendlincourt
9980         ......6807 Basse-Allaine
9981         ......6807 Basse-Allaine
9982         ......6807 Basse-Allaine
9983         ......6807 Basse-Allaine
9984         ......6808 Clos du Doubs
9985         ......6808 Clos du Doubs
9986         ......6808 Clos du Doubs
9987         ......6808 Clos du Doubs
9988           ......6809 Haute-Ajoie
9989           ......6809 Haute-Ajoie
9990           ......6809 Haute-Ajoie
9991           ......6809 Haute-Ajoie
9992            ......6810 La Baroche
9993            ......6810 La Baroche
9994            ......6810 La Baroche
9995            ......6810 La Baroche
Name: Einheit, Length: 9296, dtype: object

In [57]:
df_g.head()

     Zivilstand  Anzahl  Code                Name
12        Ledig     852  0001     Aeugst am Albis
13  Verheiratet     908  0001     Aeugst am Albis
14    Verwitwet      74  0001     Aeugst am Albis
15   Geschieden     147  0001     Aeugst am Albis
16        Ledig    5000  0002  Affoltern am Albis

## Übung

### Teil 1

**Hier haben Sie Gelegenheit noch etwas mit den Regex-Funktionen in Pandas zu experimentieren.**

Wir arbeiten wieder mit dem Haupt-Dataframe am Anfang: `df`.

**Aufgabe 1:** Erstellen Sie im DF eine zusätzliche Spalte mit dem Namen "Typ". Darin soll stehen, ob es sich bei der betreffenden Zeile um eine Gemeinde, einen Bezirk, einen Kanton oder ein Land handelt.

Tipp: Arbeiten Sie mit `df.loc[]`

In [35]:

df_g

                            Einheit   Zivilstand  Anzahl
12       ......0001 Aeugst am Albis        Ledig     852
13       ......0001 Aeugst am Albis  Verheiratet     908
14       ......0001 Aeugst am Albis    Verwitwet      74
15       ......0001 Aeugst am Albis   Geschieden     147
16    ......0002 Affoltern am Albis        Ledig    5000
17    ......0002 Affoltern am Albis  Verheiratet    5159
18    ......0002 Affoltern am Albis    Verwitwet     545
19    ......0002 Affoltern am Albis   Geschieden    1004
20            ......0003 Bonstetten        Ledig    2336
21            ......0003 Bonstetten  Verheiratet    2452
22            ......0003 Bonstetten    Verwitwet     154
23            ......0003 Bonstetten   Geschieden     383
24       ......0004 Hausen am Albis        Ledig    1433
25       ......0004 Hausen am Albis  Verheiratet    1596
26       ......0004 Hausen am Albis    Verwitwet     131
27       ......0004 Hausen am Albis   Geschieden     317
28              ......0005 Hedingen        Ledig    1559
29              ......0005 Hedingen  Verheiratet    1690
30              ......0005 Hedingen    Verwitwet     117
31              ......0005 Hedingen   Geschieden     294
32       ......0006 Kappel am Albis        Ledig     454
33       ......0006 Kappel am Albis  Verheiratet     460
34       ......0006 Kappel am Albis    Verwitwet      38
35       ......0006 Kappel am Albis   Geschieden      81
36                ......0007 Knonau        Ledig     897
37                ......0007 Knonau  Verheiratet     970
38                ......0007 Knonau    Verwitwet      69
39                ......0007 Knonau   Geschieden     161
40           ......0008 Maschwanden        Ledig     292
41           ......0008 Maschwanden  Verheiratet     279
...                             ...          ...     ...
9966              ......6793 Lugnez    Verwitwet      15
9967              ......6793 Lugnez   Geschieden      11
9968          ......6800 Porrentruy        Ledig    2965
9969          ......6800 Porrentruy  Verheiratet    2685
9970          ......6800 Porrentruy    Verwitwet     466
9971          ......6800 Porrentruy   Geschieden     713
9972             ......6803 Rocourt        Ledig      56
9973             ......6803 Rocourt  Verheiratet      82
9974             ......6803 Rocourt    Verwitwet       7
9975             ......6803 Rocourt   Geschieden      11
9976        ......6806 Vendlincourt        Ledig     230
9977        ......6806 Vendlincourt  Verheiratet     245
9978        ......6806 Vendlincourt    Verwitwet      42
9979        ......6806 Vendlincourt   Geschieden      43
9980       ......6807 Basse-Allaine        Ledig     502
9981       ......6807 Basse-Allaine  Verheiratet     545
9982       ......6807 Basse-Allaine    Verwitwet     106
9983       ......6807 Basse-Allaine   Geschieden      90
9984       ......6808 Clos du Doubs        Ledig     547
9985       ......6808 Clos du Doubs  Verheiratet     563
9986       ......6808 Clos du Doubs    Verwitwet      89
9987       ......6808 Clos du Doubs   Geschieden     107
9988         ......6809 Haute-Ajoie        Ledig     380
9989         ......6809 Haute-Ajoie  Verheiratet     429
9990         ......6809 Haute-Ajoie    Verwitwet      68
9991         ......6809 Haute-Ajoie   Geschieden      69
9992          ......6810 La Baroche        Ledig     490
9993          ......6810 La Baroche  Verheiratet     518
9994          ......6810 La Baroche    Verwitwet      75
9995          ......6810 La Baroche   Geschieden     100

[9296 rows x 3 columns]

**Aufgabe 2:** Bereinigen Sie die Bezeichnungen in der Spalte "Einheit". Wir wollen keine Nummern und keine Sonderzeichen mehr darin sehen, nur noch die Namen der Gemeinden, Bezirke und Kantone.

Tipp: Arbeiten Sie mit `str.replace()`

In [ ]:
# zum Testen, ob es bei den Kantonen funktioniert hat:
df[df['Typ'] == 'Kanton'].head(10)

In [ ]:
# zum Testen, ob es bei den Bezirken funktioniert hat:
df[df['Typ'] == 'Bezirk'].head(10)

In [ ]:
# zum Testen, ob es bei den Gemeinden funktioniert hat:
df[df['Typ'] == 'Gemeinde'].head(10)

### Teil 2

**Hier können Sie nochmals etwas Pivoting und Plotting trainieren**

In [ ]:
df.to_csv('dataprojects/BFS/Einheiten_kategorisiert.csv', index=False)

Zur Sicherheit laden wir die Daten nochmals neu - mit dem Stand der Übung bis hier.

In [ ]:
df = pd.read_csv('dataprojects/BFS/Einheiten_kategorisiert.csv')

**Aufgabe 1:** Finden Sie die drei Gemeinden mit der höchsten Quote an Verwitweten Personen in der Bevölkerung.

Tipp zum Vorgehen:
1. DF nach Gemeinden filtern
1. DF nach Zivilstand pivotieren
1. Total der Bevölkerung mit `sum()` ausrechnen (`axis=1`)
1. Verwitweten-Quote ausrechnen
1. DF sortieren

In [ ]:
# DF nach gemeinden filtern und pivotieren

In [ ]:
# Bevölkerungstotal ausrechnen pro Gemeinde

In [ ]:
# Verwitweten-Quote ausrechnen

In [ ]:
# Sortieren und Top 3

**Aufgabe 2:** Welcher Kanton hat die höchste Ledigen-Quote?

In [ ]:
# DF nach Kantonen filtern und pivotieren

In [ ]:
# Bevölkerungstotal ausrechnen pro Kanton

In [ ]:
# Ledigen-Quote ausrechnen

In [ ]:
# Sortieren und obersten anzeigen

**Aufgabe 3:** Zeichnen Sie einen Bar-Chart mit der Verheirateten-Quote aller Kantone

Tipp: Benutzen Sie das pivotierte DF, das Sie in Aufgabe 2 erstellt haben.

In [ ]:
# Verheirateten-Quote ausrechnen

In [ ]:
#Sortieren und plotten

**Aufgabe 4:** Zeichnen Sie ein Stacked-Bar-Chart mit den relativen Zivilstands-Anteilen in zwei Gemeinden:
- Corippo
- Meienried

Tipp zu Vorgehen:
1. DF nach Gemeinden filtern und pivotieren
1. Total der Einwohner für jede Gemeinde (in separater Series ablegen)
1. Pivotiertes DF mit `div()` durch das Total dividieren (`axis=1`)
1. mit `.loc[]` die beiden Gemeinden wählen
1. Plot mit `stacked=True`

In [ ]:
# DF nach gemeinden filtern und pivotieren

In [ ]:
# Total der Einwohner für jede Gemeinde

In [ ]:
# Neues DF mit relativen Werten

In [ ]:
# Nur Meienried und Corippo anzeigen

In [ ]:
# Plot