# Dataframes Handling

**Inhalt:** Ein bessere Gefühl dafür erhalten, wie Dataframes aufgebaut sind und wie man damit umgeht

**Nötige Skills:** Erste Schritte mit Pandas

**Lernziele:**
- Verschiedene Konstruktur-Methoden für Dataframes kennenlernen
- Wie Series und Dataframes zusammenspielen
- Der Index und verschiedene Arten, ihn zu referenzieren
- Spalten und Zeilen hinzufügen und löschen
- Aufmerksamkeit schärfen für Dinge wie `inplace=True`

## Vorbereitung

In [1]:
import pandas as pd

## Dataframes konstruieren

Man kann Daten nicht nur aus Dateien in ein Dataframe laden, sondern auch aus anderen Datenstrukturen. Es gibt gefühlt 1000 Arten, ein Dataframe zu konstruieren.

Einige Beispiele dazu finden sich hier: https://pandas.pydata.org/pandas-docs/stable/dsintro.html

Eine Referenz zur Funktion `DataFrame()` findet sich hier: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html. An diesem Ort sind übrigens auch alle Methoden verzeichnet, die auf DataFrame-Objekte angewandt werden können.

Wir schauen uns hier eine kleine Auswahl davon an.

### Dataframe aus Dictionaries erstellen

Daten können aus verschiedenen Quellen kommen. Aus Dateien, oder zB auch von gescrapten Webseiten.

Nehmen wir mal an, wir haben Daten von einer Social Media Seite zusammengestellt, und sie liegen nun Form von Dictionaries vor.

Wie können wir damit in Pandas arbeiten?

In [4]:
person1 = {'Name': 'Anna', 'Grösse': 175, 'Alter': 30}
person2 = {'Name': 'Bruno', 'Grösse': 170, 'Alter': 25}
person3 = {'Name': 'Claire', 'Grösse': 180, 'Alter': 35}

Schritt 1: Wir machen daraus eine "Liste von Dictionaries":

In [5]:
liste = [person1, person2, person3]

Schritt 2: Wir machen aus der Liste ein Dataframe:

In [8]:
df = pd.DataFrame(liste)

Die einzelnen Einträge in der Liste sind nun die *Zeilen* in der Tabelle:

In [9]:
df

   Alter  Grösse    Name
0     30     175    Anna
1     25     170   Bruno
2     35     180  Claire

### Dataframe aus Listen erstellen

Vielleicht sind wir aber auch auf anderem Weg an diese Daten gekommen.

Und wir haben nun eine Liste von Personen sowie von deren Attributen, statt ein Dictionary.

In [59]:
namen = ['Peter', 'Paul', 'Maria']
alter = [60, 30, 20]
grösse = [167, 189, 170]

Schritt 1: Wir machen ein "Dictionary von Listen" daraus.

In [60]:
d = {'Name': ['Peter', 'Paul', 'Maria'],
    'Grösse': [60, 30, 20], 
    'Alter': [167, 189, 170]}

Schritt 2: Wir machen aus dem Dictionary ein Dataframe

In [61]:
df = pd.DataFrame(d)

Die einzelnen Einträge im Dictionary sind nun die *Spalten* in unserer Tabelle:

In [62]:
df

    Name  Grösse  Alter
0  Peter      60    167
1   Paul      30    189
2  Maria      20    170

In [64]:
# Eine Zelle über df.log ansteuern wenn index Zahlen sind: True/False Abfrage.
df.loc[df['Name'] == 'Peter', 'Alter'] = 45
df

    Name  Grösse  Alter
0  Peter      60     45
1   Paul      30    189
2  Maria      20    170

**Note:** Wichtig ist nicht unbedingt, diese Techniken auswendig zu können. Sondern einfach zu wissen: `DataFrame()` ist eine sehr vielseitige Funktion, man kann fast alles darin reinfüttern.

Falls das Resultat nicht so herauskommt, wie gewünscht, ist die Chance gross, dass sich eine andere Variante findet, wie man aus irgendwelchen Datenstrukturen ein Dataframe erhält. Es gibt zB auch:

- pd.DataFrame.from_dict()
- pd.DataFrame.from_records()
- pd.DataFrame.from_items()

Im Zweifelsfall: Dokumentation konsultieren, Beispiele anschauen, ausprobieren!

Dataframes kann man auch aus Serien generieren.

### Serien

Was sind schon wieder Serien? Ach ja: Es ist das, was herauskommt, wenn man einzelne Spalten eines Dataframes herauszieht.

In [17]:
df['Name']

0    Peter
1     Paul
2    Maria
Name: Name, dtype: object

Serien sind ganz einfach gesagt eine Art von indexierten Listen.

Wir kann sie ähnlich wie Dataframes auch from Scratch konstruieren – mittels `pd.Series()`

In [19]:
s = pd.Series(['Peter', 'Paul', 'Maria'])
s

0    Peter
1     Paul
2    Maria
dtype: object

Der Index muss übrigens nicht zwingend aus einer Zahlenreihe bestehen.

In [21]:
s = pd.Series(['Peter', 'Paul', 'Maria'], index=['a', 'b', 'c'])
s

a    Peter
b     Paul
c    Maria
dtype: object

Series sind ähnlich wie Listen, aber auch ähnlich wie Dictionaries. Man kann basierend auf dem Index zB einzelne Elemente aufrufen

In [22]:
s['a']

'Peter'

In [28]:
s[['a', 'c']]

a    Peter
c    Maria
dtype: object

... oder auch andere, lustige Auswahloperationen machen

In [24]:
s['b':] # zeige alle Positionen inklusive b und folgende

b     Paul
c    Maria
dtype: object

Eine Reihe von Serien zu einem Dataframe zusammenzufügen, funktioniert sehr ähnlich wie mit Listen.

### Dataframe aus Series erstellen

Nehmen wir also an, unsere Daten liegen in Form von Listen vor:

In [30]:
s_name = pd.Series(['Peter', 'Paul', 'Maria'])   
s_alter = pd.Series([60, 30, 20]) 
s_grösse = pd.Series([167, 189, 170])

In [31]:
s_name

0    Peter
1     Paul
2    Maria
dtype: object

In [32]:
s_alter

0    60
1    30
2    20
dtype: int64

In [33]:
s_grösse

0    167
1    189
2    170
dtype: int64

Um die drei Serien zu einem Dataframe zu machen, gehen wir ähnlich vor wie zuvor.

Schirtt 1: Wir basteln einen Dictionary aus den Serien:

In [34]:
d = {'Name': s_name, 'Grösse': s_grösse, 'Alter':s_alter}

Schritt 2: Wir kontstruieren aus dem Dictionary ein Dataframe

In [36]:
df = pd.DataFrame(d)
df

    Name  Grösse  Alter
0  Peter     167     60
1   Paul     189     30
2  Maria     170     20

### Dataframes aus mühsamen Strukturen erstellen

Nehmen wir mal an, unsere Daten liegen in einer etwas merkwürdigen Form vor (merkwürdig zB deshalb, weil man normalerweise den Inhalt eines Datenfeldes ("Peter") nicht als Variablennamen verwenden würde):

In [38]:
Peter = {'Grösse': 175, 'Alter': 30}
Paul = {'Grösse': 170, 'Alter': 25}
Maria = {'Grösse': 180, 'Alter': 35}

In [39]:
Maria

{'Grösse': 180, 'Alter': 35}

Eine Variante, um ein Dataframe zu erstellen, könnte so funktionieren:

In [103]:
df = pd.DataFrame([Peter, Paul, Maria], index=['Peter', 'Paul', 'Maria'])
df

       Alter  Grösse
Peter     30     175
Paul      25     170
Maria     35     180

In [104]:
df.index

Index(['Peter', 'Paul', 'Maria'], dtype='object')

Wir haben nun eine etwas anders aufgebaute Tabelle. Die Index-Spalte besteht nicht mehr aus Zahlen, sondern aus den Werten in einer bestimmten Spalte.

Wir schauen uns nun die Index-Spalte etwas genauer an.

### Mit dem Index arbeiten

Wir haben bereits kennengelernt, wie man die Werte einer einzelnen Spalte herausziehen kann:

In [105]:
df['Alter']

Peter    30
Paul     25
Maria    35
Name: Alter, dtype: int64

Mit einzelnen Zeilen funktioniert es ähnlich, allerdings brauchen wir dazu noch eine spezielle Syntax: `df.loc[]`

In [106]:
df.loc['Peter']
# Das funktioniert aber nur mit einem Suchwort aus den Index.

Alter      30
Grösse    175
Name: Peter, dtype: int64

`df.loc['Peter']` funktioniert, weil es eine Zeile gibt, die den Indexwert "Peter" hat.

Falls nötig, können wir eine bestimmte Zeile aber auch jederzeit mit einem Integer-Zahlenwert referenzieren.

Dafür gibt es die Syntax `df.iloc[]` - die Zählung startet bei null, nicht bei eins.

In [107]:
df.iloc[0]

Alter      30
Grösse    175
Name: Peter, dtype: int64

Wollen wir nur bestimmte Spaltenwerte anzeigen, funktioniert das so:

In [108]:
df.loc['Peter', 'Alter']

30

Diese Syntax dient übrigens auch dazu, Werte zu überschreiben:

In [109]:
df.loc['Peter', 'Alter'] = 60

Peter ist nun nicht mehr 30, sondern 60 Jahre alt.

In [110]:
df.loc['Peter']

Alter      60
Grösse    175
Name: Peter, dtype: int64

**Achtung:** Das hier funktioniert übrigens nicht: (Warum nicht?)

In [111]:
df[df['Alter'] == 60]['Alter'] = 30

/Users/manuela/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [112]:
df

       Alter  Grösse
Peter     60     175
Paul      25     170
Maria     35     180

Im allgemeinen ist es allerdings unschön, bestimmte Datenfelder als Index zu verwenden - könnte ja sein, dass zwei Leute Peter heissen, das gäbe an irgendeinem Punkt ziemlich sicher einen Fehler.

Um das zu ändern, gibt es eine einfache Funktion: `reset_index()`

Nun haben wir einen neuen Index (**fett**), und die Namen wurden in eine separate Spalte kopiert.

In [113]:
df = df.reset_index()
df

   index  Alter  Grösse
0  Peter     60     175
1   Paul     25     170
2  Maria     35     180

Das Problem ist, die Spalte mit den Namen heisst jetzt "index"...

Um das zu ändern, benutzen wir `df.rename()` und geben einen Dictionary mit auf den Weg, der die zu ändernden Spaltennamen beinhaltet.

In [114]:
df = df.rename(columns={'index': 'Name'})
df

    Name  Alter  Grösse
0  Peter     60     175
1   Paul     25     170
2  Maria     35     180

**Achtung:** Wie die meisten Funktionen bei Pandas, ändert `df.rename()` nicht das Dataframe selbst, sondern spuckt ein neues Dataframe aus.

Um die Änderung zu speichern, haben wir zwei Optionen:

a) Wir speichern das retournierte Dataframe unter demselben oder unter einem neuen Namen (`df2`) ab:

In [115]:
df

    Name  Alter  Grösse
0  Peter     60     175
1   Paul     25     170
2  Maria     35     180

b) Wir verwenden das Argument `inplace=True`, das so viel bedeutet wie: "mach das gleich an Ort und Stelle".

In [116]:
df.rename(columns={'Name': 'Name_'}, inplace = True)
df

   Name_  Alter  Grösse
0  Peter     60     175
1   Paul     25     170
2  Maria     35     180

`inplace=True` funktioniert übrigens auch mit einigen anderen Funktionen, z.B. auch mit `df.reset_index()`

In [117]:
df.reset_index(inplace = True)
df

   index  Name_  Alter  Grösse
0      0  Peter     60     175
1      1   Paul     25     170
2      2  Maria     35     180

In [118]:
df

   index  Name_  Alter  Grösse
0      0  Peter     60     175
1      1   Paul     25     170
2      2  Maria     35     180

Oops! Nun haben wir bereits eine Spalte zu viel drin, die wir gar nicht wollen.

Macht nix, wir werfen sie einfach wieder raus. Und zwar mit `pop()`

In [119]:
df

   index  Name_  Alter  Grösse
0      0  Peter     60     175
1      1   Paul     25     170
2      2  Maria     35     180

In [120]:
df.pop('index')

0    0
1    1
2    2
Name: index, dtype: int64

In [124]:
df

   Name_  Alter  Grösse
0  Peter     60     175
1   Paul     25     170
2  Maria     35     180

**Note:** Anders als zuvor hat `df.pop()` gleich an Ort und Stelle die Spalte rausgeworfen, statt ein neues Dataframe auszuspucken. Das Default-Verhalten ist über Pandas hinweg nicht ganz konsistent: Manchmal gilt `inplace=True` automatisch, manchmal nicht.

Wir können übrigens mit `drop()` auch einzelne Zeilen rauswerfen, basierend auf dem Index der Zeile:

In [128]:
df.drop([2], inplace=True)
df

   Name_  Alter  Grösse
0  Peter     60     175
1   Paul     25     170

Falls wir den Index nicht kennen, suchen wir ihn, und zwar mit dem Attribut `.index`

In [131]:
df.drop(df(df['Name'] == 'Paul').index, inplace=True)
df

KeyError: 'Name'

Zu viel gelöscht? Egal, fügen wir die Zeile einfach wieder hinzu, und zwar mit `df.append()`

Und zu guter letzt, falls wir doch wieder die Namen als Index wollen: `df.set_index()`

**Achtung:** Was nicht funktioniert, ist diese Zeile hier: (warum?)

In [ ]:
#df2 = df.set_index('Alter', inplace=True)

**Note:** Die Index-Spalte hat jetzt einen ganz bestimmten Namen: "Name". Wir können diesen Namen auch löschen, und zwar mit `df.rename_axis()`:

## Schluss

Es ist nicht wichtig, dass ihr jede dieser Funktionen auswendig könnt und genau wisst, wie man sie anwenden muss, ob inplace=True oder nicht.

Wichtig ist aber:

- Seid euch bewusst, dass es für fast alles, was man mit einem Dataframe anstellen will, in Pandas eine Funktion gibt
- Falls ihr den Namen der gesuchten Funktion nicht kennt: Googelt einfach. Die Chance ist gross, dass ihr schnell fündig werdet
- In der Dokumentation (zB über Google auffindbar: "Pandas set index") steht immer, welche Argumente eine Funktion nimmt
- Sonst einfach ausprobieren. Falls irgendwas komplett falsch läuft, einfach den Kernel nochmals starten und alles nochmal ausführen