# Hausaufgaben Einstieg in Python - Lektion 2

1.Kreiere eine Liste aus Zahlen, die aus 10 Elementen besteht, und ordne sie der Variabel a zu.

In [2]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#Es gibt auch eine wunderbares Python Library, die heisst String und geht so:
import string
a = string.ascii_lowercase
a = list(a)[:10]
a

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

2.Mache dasselbe mit einer Liste aus 100 Elementen und ordne sie der Variabel b zu.

In [4]:
b = list(range(1,101))

In [5]:
type(b)

list

3.Füge beiden Listen folgenden String an: 'ich bin keine Zahl'

In [6]:
a.append('ich bin keine Zahl')

In [7]:
a

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'ich bin keine Zahl']

In [8]:
b.append('ich bin keine Zahl')

In [9]:
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 'ich bin keine Zahl']

4.Lösche diesen letzten Eintrag in der Liste wieder

In [10]:
b.pop()

'ich bin keine Zahl'

In [11]:
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

5.Verwandle jede Zahl in den Listen a und b von int in str?

In [12]:
#Der Loop get so
new_a = []
for zahl in a:
    new_a.append(str(zahl))

6.Von der list b, zeige nur die letzten zehn Nummern an

In [13]:
b[-10:]

[91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

7.Von der folgenden Liste, zeige den zweit grössten Wert an

In [14]:
sorted(b)[-2]

99

In [15]:
c = list(range(50, 151))
c.append(1000)
c.append(1001)

In [16]:
print(c)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 1000, 1001]

8.Multipliziere jede Nummer in dieser Liste, die kleiner ist als 100, mit 100; wenn die Nummern zwischen 100 und 1000 verwandle sie in eine String, und wenn sie grösser oder gleich 1000 ist, lösche sie.

In [17]:
#Sehr schön, haben wir ja noch nicht angeschaut. :-)
new_c = []

for item in c:
    if item < 100:
        item = item*100
    elif item > 100 and item < 1000:
        item = str(item)
    else:
        item = 0
    new_c.append(item)

In [18]:
print(new_c)

[5000, 5100, 5200, 5300, 5400, 5500, 5600, 5700, 5800, 5900, 6000, 6100, 6200, 6300, 6400, 6500, 6600, 6700, 6800, 6900, 7000, 7100, 7200, 7300, 7400, 7500, 7600, 7700, 7800, 7900, 8000, 8100, 8200, 8300, 8400, 8500, 8600, 8700, 8800, 8900, 9000, 9100, 9200, 9300, 9400, 9500, 9600, 9700, 9800, 9900, 0, '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', 0, 0]

9.Schreibe eine Dictionary-Liste der fünf grössten Schweizer Städte, ihrer Bevölkerung und dem jeweiligen Kanton.

In [3]:
dict_städte = [{"Stadt":"Zürich", "Bevölkerung":396027, "Kanton":"Zürich"},
               {"Stadt":"Genf", "Bevölkerung":194565, "Kanton":"Genf"},
               {"Stadt":"Basel", "Bevölkerung":175131, "Kanton":"Basel"},
               {"Stadt":"Bern", "Bevölkerung":140634, "Kanton":"Bern"},
               {"Stadt":"Lausanne", "Bevölkerung":135629, "Kanton":"Waadt"}]

In [20]:
import pandas as pd #Auch da bist Du schon einen Schritt weiter
pd.DataFrame(dict_städte)

In [22]:
pd.DataFrame(dict_städte)

   Bevölkerung  Kanton     Stadt
0       396027  Zürich    Zürich
1       194565    Genf      Genf
2       175131   Basel     Basel
3       140634    Bern      Bern
4       135629   Waadt  Lausanne

10.Zeige nur die Bevölkerung der Stadt Genf an

In [23]:
dict_städte[1]["Bevölkerung"]

194565

11.Drucke (print) das Total der Bevölkerungen aller Städte aus

In [24]:
bev = 0
for zahl in dict_städte:
    bev += zahl["Bevölkerung"]

In [25]:
print(bev)

1041986

12.Rechne den Anteil der Bevölkerung der jeweiligen Städte an der Gesamtbevölkerung der Schweiz aus und "print" die Ergebnisse neben dem Städtenamen

In [6]:
bev_CH = 8420000

for zahl in dict_städte:
    print(str(zahl["Stadt"]), str(zahl["Bevölkerung"]/bev_CH*100))

Zürich 4.7034085510688834
Genf 2.310748218527316
Basel 2.079940617577197
Bern 1.6702375296912115
Lausanne 1.6107957244655584

In [ ]:
#Auch das wunderbar!
#Strings kann man auch mit "," verbinden, also:
a = "Hallo"
b = "Wie geht es Dir?"

13.Füge noch die Städte Winterthur und Luzern hinzu

In [92]:
dict_städte.append({"Stadt":"Winterthur", "Bevölkerung":109775, "Kanton":"Zürich"})

In [93]:
dict_städte.append({"Stadt":"Luzern", "Bevölkerung":81592, "Kanton":"Luzern"})

In [94]:
pd.DataFrame(dict_städte)

   Bevölkerung  Kanton       Stadt
0       396027  Zürich      Zürich
1       194565    Genf        Genf
2       175131   Basel       Basel
3       140634    Bern        Bern
4       135629   Waadt    Lausanne
5       109775  Zürich  Winterthur
6        81592  Luzern      Luzern

14.Ergänze die Städte-Dictionary-Liste mit Winterthur und Luzern

15.Wiederhole den loop von oben, um den Anteil der Bevölkerung an der Gesamtbevölkerung auszurechnen, dieses Mal mit Winterthur und Luzern

In [7]:
for zahl in dict_städte:
    print(str(zahl["Stadt"]), str(zahl["Bevölkerung"]/bev_CH*100))

Zürich 4.7034085510688834
Genf 2.310748218527316
Basel 2.079940617577197
Bern 1.6702375296912115
Lausanne 1.6107957244655584